{{>header}}


	<h1>What's the weather ?</h1>
	<form>
		<input placeholder="Location">
		<button>Search</button>
	</form>
	<div class="wadah">
		
	</div>
	<br>
	<p class="message1"></p>
	<br>
	<p class="message2"></p>
<script src="/js/app.js"></script>

{{>footer}}