<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>


<body>

<header>
	<img src="/img/weather.png">
	<h1> Weather </h1>

	<a href="/">Weather App</a>
	<a href="/about">About</a>
	<a href="/help">Help</a>
</header>